/*
    COLORS
    Blue: #5BC0EB
    Black: #211A1E
    Red: #C3423F
    Yellow: #FDE74C
    Green: #9BC53D
*/

body {
    margin:0px; 
    background: #eee;
}

h1 {
    text-align: center;
}

button,input {
    padding: 5px 10px;
    display: inline;
    background: #777;
    border: none;
    background-color: #ababab;
    color: #000;
    font-size: 16px;
    min-width: 80px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
}

button:hover {
    background-position: 0 -48px;
     background-color: #dedede;
}

button:active {
    background-position: 0 top;
    position: relative;   
}

canvas, video {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    filter: FlipH;
    transform: scale(-1, 1);
}

#canvas-wrapper{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    height: 800px;
    position: relative;
}


#canvas {
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.mainContainer {
    border: solid 1px #cccccc;
    width: 100%;
    margin: 0 auto;

}

#tools {
    position: absolute;
    left:-140px;
    top:0px;
    background-color: #cdcdcd;
    padding: 20px;
    width:140px;
}

#tools > *{
    display: block;
}

.controls {
    background-color: #cdcdcd;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    right: -300px;
    top: 0px;
    width: 300px;
}

.controls > *{
    display: block;
}
.select-list {
    margin: 0 auto;
    width: 430px;
}

.gamma {
    width: 250px;
    
}

.black-white {
    width: 150px;

}
.tool,
.select {
    margin: 0 auto;
    padding: 10px;
}

.select {
  
}